CompileFlags:
    Add: [-xc++, -std=c++2b, -Weffc++]   
    Remove: -W* 
    
Diagnostics:
  ClangTidy:
    Add: [ modernize*, altera*, performance*]
	  #Remove: [-bugprone-easily-swappable-parameters]